<!-- Carvertise analytics project end -->
<div class='single_project' id='project-2'>
  <div class='single_project_name'>
    <h1>Doodle Adventurer</h1>
  </div>

  <div class='single_project_info'>
    <ul class='single_project_info_list'>
      <li>
        <div class='single_project_info_item'>
          <h4>Role</h4>
          <p>Founder</p>
        </div>
      </li>
      <li>
        <div class='single_project_info_item'>
          <h4>Date</h4>
          <p>June 2015 - Feb 2016</p>
        </div>
      </li>
      <li>
        <div class='single_project_info_item'>
          <h4>Platform</h4>
          <p>IOS</p>
        </div>
      </li>

    </ul>

  </div>

  <div class='single_project_description'>
    <h3>Story</h3>
    <p>
      Doodle Adventurer is an IOS platfrom game. It was my first IOS game, I learnt Photoshop and created all the
      characters and graphics by myself
    </p>
  </div>

  <div class='single_project_screen_shot'>
    <div class='iphone_only_landscape single_project_screen_shot_item'>
      <img class='frame' src='img/Iphone_doodle.png'>
    </div>
  </div>

  <div class='single_project_lanugages'>
    <h2>It is made of</h2>
    <p> <span class='language_tag'>Objective C</span>
      <span class='language_tag'>SQLite</span>
      <span class='language_tag'>C++</span>
      <span class='language_tag'>Box2D</span>
    </p>
  </div>

  <div class='next_project_area'>
    <div class='back_btn next_project_btn' onclick='backtomain()'>
      Back to list
    </div>

  </div>


</div>
<!-- carvertise analytics -->
