<!-- Carvertise analytics project end -->
<div class='single_project' id='project-2'>
  <div class='single_project_name'>
    <h1>Carvertise Analytics</h1>
  </div>

  <div class='single_project_info'>
    <ul class='single_project_info_list'>
      <li>
        <div class='single_project_info_item'>
          <h4>Role</h4>
          <p>Developer</p>
        </div>
      </li>
      <li>
        <div class='single_project_info_item'>
          <h4>Date</h4>
          <p>June 2015 - Feb 2016</p>
        </div>
      </li>
      <li>
        <div class='single_project_info_item'>
          <h4>Platform</h4>
          <p>Web</p>
        </div>
      </li>

    </ul>

  </div>

  <div class='single_project_description'>
    <h3>Story</h3>
    <p>
      We put GPS units in cars to collect their driving data. We use the gps data to procide campaign
      metrics and maps to help our advertisers visiualize the campaign. It is like the google analytics for
      Car advertising.
    </p>
  </div>

  <div class='single_project_screen_shot'>
    <div class='notebook single_project_screen_shot_item'>
      <img class='frame' src='img/Macbook_analytics.png'>
    </div>
  </div>

  <div class='single_project_lanugages'>
    <h2>It is made of</h2>
    <p>
        <span class='language_tag'>AngularJ</span>
        <span class='language_tag'>Javascript</span>
        <span class='language_tag'>Jquery</span>
        <span class='language_tag'>HTML5</span>
        <span class='language_tag'>CSS</span>
        <span class='language_tag'>PHP</span>
        <span class='language_tag'>Mysql</span>
      </p>
  </div>



  <div class='next_project_area'>
    <div class='back_btn next_project_btn' onclick='backtomain()'>
      Back to list
    </div>
    <div class='next_btn next_project_btn' onclick='change_url("carvertise_backend")'>
      Next project
    </div>
  </div>


</div>
<!-- carvertise analytics -->
